<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/paiselement.ejs") %>
<title>Pealeht</title>
<body>
    <div class="paisSektsioon">
        <div class="container">
            <div class="row pt-3">
                <div class="col-12 col-md-5 d-flex">
                    <img class="paislogo" src="./assets/klubilogo.png" alt="">
                    <div class="paisnimi">
                        MATKA KLUBI
                    </div>
                </div>
                <div class="col-12 col-md-7 menu ">
                    <%- include("../partials/menyy.ejs") %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 paisSektsioon-pealkirjad">
                    <div class="rida">
                        <h2>Matkaklubi</h2>
                        <img class="liblikas1" src="./assets/Butterflyrteine.png" alt="">
                    </div>
                    <div class="rida">
                        <img class="liblikas2" src="./assets/Butterfly.png" alt="">
                        <h1>Purde Matk</h1>    
                    </div>
                    <div class="rida">
                        <h3>Iganädalane liikumine</h3>
                    </div>
                    <div >
                     <a href="http://google.ee"><button type="button" class="nupp">Vaata matkasid</button></a>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6 pealispilt">
                    <img class="ummargunepilt" src="./assets/Image.png" alt="">
                    <img class="vari" src="./assets/Shadow.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container matkadeSektsioon pt-4">
        <div class="row">
            <% for (let i=0; i < matkad.length; i++) { %>
            <div class="col-md-4 card">
                <img class="card-img-top matkade-pildid1" src="<%= matkad[i].pildiUrl %>">
                <div class="card-body">
                    <h4 class="card-title"><%= matkad[i].nimetus %></h4>
                    <p>
                        <%= matkad[i].kirjeldus %>                        
                    </p>
                    <p>
                        Osalejaid: <%= matkad[i].osalejad.length %>
                    </p>
                    <a href="#" class="btn btn-primary">Registreeru</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>