<!DOCTYPE html>
<html lang="en">
<title>Registreerumine</title>
<%- include ("../partials/paiselement.ejs") %>

    <body>
        <div class="paisSektsioon">
            <div class="container">
                <div class="row pt-3">
                    <div class="col-12 col-md-5 d-flex">
                        <img class="paislogo" src="/assets/klubilogo.png" alt="">
                        <div class="paisnimi">
                            MATKA KLUBI
                        </div>
                    </div>
                    <div class="col-12 col-md-7 menu ">
                        <%- include("../partials/menyy.ejs") %>
                    </div>
                </div>

                <h1 class="pt-5">
                    Registreeru matkale: <%= matk.nimetus %>
                </h1>
                <img class="registreerumine-pilt" src="<%= matk.pildiUrl %>" alt="">
                <p>
                    <%= matk.kirjeldus %>
                </p>
                <div class="sisend">
                    <form action="/kinnitus" method="get">
                        <div class="form-group">
                            <label for="Nimi">Nimi: </label>
                            <input class="form-control" type="text" placeholder="Nimi" id="Nimi" name="nimi">
                        </div>
                        <div class="form-group">
                            <label for="Email">E-mail:</label>
                            <input class="form-control" type="text" placeholder="E-mail" id="Email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="Teade">Teade: </label>
                            <textarea class="form-control teated" name="Teade" id="Teade" cols="1" rows="5"
                                placeholder="Teade"></textarea>
                        </div>
                        <input type="hidden" name="matkaId" value="<%= matk.id %>">
                        <input type="submit" value="Saada" class="mt-3 btn btn-info"></input>
                    </form>
                    <div class="valjund" id="valjund"></div>
                </div>
            </div>
    </body>

</html>