<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/paiselement.ejs") %>
    <title>Uudised</title>
   
    
<body>
    <div class="paisSektsioon">
        <div class="container">
            <div class="row pt-3">
                <div class="col-12 col-md-5 d-flex">
                    <img class="paislogo" src="/assets/klubilogo.png" alt="">
                    <div class="paisnimi">
                        MATKA KLUBI
                    </div>
                </div>
                <div class="col-12 col-md-7 menu ">
                    <%- include("../partials/menyy.ejs") %>
                </div>
            </div>  
            <div class="row">
                <% for (let i=0; i < uudised.length; i++) { %>
                <div class="col-md-6 col-sm-12 card">
                    <img class="card-img-top" src="<%= uudised[i].uudispilt %>">
                    <div class="card-body">
                        <h4 class="card-title"><%= uudised[i].pealkiri %></h4>
                        <p>
                            <%= uudised[i].kokkuvõte %>                        
                        </p>
                        <p>
                        <%= uudised[i].uudisetekst %>
                        </p>
                        <a href="#" class="btn btn-primary">Vaata lähemalt</a>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="output" id="valjund"></div>
        </div>

        </div>
    </div>

</body>
</html>